* {
    margin: 0;
    padding: 0;
}
#container {
    position: relative;
    overflow: hidden;
}
#score {
    position: absolute;
    top: 0;
    right: 0;
}
#score div {
    position: absolute;
    left: 0;
    right: 0;
    text-indent: 2px;
    text-align: center;
    bottom: 4px;
}
#bg {
    width: 100%;
    height: 791px;
    display: block;
}
@keyframes moveStart {
    from {
        left: 0;
    }to {
        left: 104px;
         }
}
#time {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    top: 80px;
}
#min1 {
    margin-left: 100px;
}
#back {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
#exp,#exp0 {
    position: absolute;
    left: 0;
    /*bottom: 300px;*/
    transform: rotate(180deg);
}
#exp {
    height: 62px;
    transition: all .3s linear;
    overflow: hidden;
}
#exp img,#exp0 img {
    transform: rotate(180deg);
}
#energy {
    position: absolute;
    left: 0;
}
#skill {
    position: absolute;
    top: 10%;
    left: 20%;
    display: none;
    z-index: 100001;
}
#cover {
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    /*opacity: 0.3;*/
    z-index: 10000;
    top: 0;
    display: none;
}
#finalScore {
    position: absolute;
    left: 0;
    right:0 ;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 217px;
    height: 196px;
    background: url('../images/ui/tipBg.png') 100% 100% no-repeat;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}
#finalScoreWrite {
    color: red;
}
.scoreWrite {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
#tomb {
    position: absolute;
    top: -50px;
    transition: top 1s linear;

}
@keyframes dragonOpacity {
    0% {
        opacity: 1;
    }
    16.5% {
        opacity: 0.3;
    }
    33% {
        opacity: 1;
    }
    49.5% {
        opacity: 0.3;
    }
    66% {
        opacity: 1;
    }
    82.5% {
        opacity: 0.3
    }
    100% {
        opacity: 1;
    }
}
@keyframes level2 {
    0% {
        background: url('../images/dragon/small/stand.gif');
        width: 54px;
        height: 54px;
    }
    20% {
        background: url('../images/dragon/middle/stand.gif');
        width: 67px;
        height: 63px;
    }
    40% {
        background: url('../images/dragon/small/stand.gif');
        width: 54px;
        height: 54px;
    }
    60% {
        background: url('../images/dragon/middle/stand.gif');
        width: 67px;
        height: 63px;
    }
    80% {
        background: url('../images/dragon/small/stand.gif');
        width: 54px;
        height: 54px;
    }
    100% {
        background: url('../images/dragon/middle/stand.gif');
        width: 67px;
        height: 63px;
    }
 }
@keyframes level3 {
    0% {
        background: url('../images/dragon/middle/stand.gif');
        width: 67px;
        height: 63px;
    }
    20% {
        background: url('../images/dragon/big/stand.gif');
        width: 128px;
        height: 94px;
    }
    40% {
        background: url('../images/dragon/middle/stand.gif');
        width: 67px;
        height: 63px;
    }
    60% {
        background: url('../images/dragon/big/stand.gif');
        width: 128px;
        height: 94px;
    }
    80% {
        background: url('../images/dragon/middle/stand.gif');
        width: 67px;
        height: 63px;

    }
    100% {
        background: url('../images/dragon/big/stand.gif');
        width: 128px;
        height: 94px;
    }
}
@keyframes level4 {
    0% {
        background: url('../images/dragon/big/stand.gif');
        width: 128px;
        height: 94px;
    }
    20% {
        background: url('../images/dragon/large/stand.gif');
        width: 139px;
        height: 105px;
    }
    40% {
        background: url('../images/dragon/big/stand.gif');
        width: 128px;
        height: 94px;
    }
    60% {
        background: url('../images/dragon/large/stand.gif');
        width: 139px;
        height: 105px;
    }
    80% {
        background: url('../images/dragon/big/stand.gif');
        width: 128px;
        height: 94px;

    }
    100% {
        background: url('../images/dragon/large/stand.gif');
        width: 139px;
        height: 105px;
    }
}
@keyframes level5 {
    0% {
        background: url('../images/dragon/large/stand.gif');
        width: 139px;
        height: 105px;
    }
    20% {
        background: url('../images/dragon/final/stand.gif');
        width: 173px;
        height: 154px;
    }
    40% {
        background: url('../images/dragon/large/stand.gif');
        width: 139px;
        height: 105px;
    }
    60% {
        background: url('../images/dragon/final/stand.gif');
        width: 173px;
        height: 154px;
    }
    80% {
        background: url('../images/dragon/large/stand.gif');
        width: 139px;
        height: 105px;
    }
    100% {
        background: url('../images/dragon/final/stand.gif');
        width: 173px;
        height: 154px;
    }
}
@keyframes expMove {
    from {
        height: 166px;
    }
    to {
        height: 62px;
    }
}