* {
    margin: 0;
    padding: 0;
}
#container {
    position: relative;
    overflow: hidden;
}
#score {
    position: absolute;
    top: 0;
    right: 0;
}
#score div {
    position: absolute;
    left: 0;
    right: 0;
    text-indent: 2px;
    text-align: center;
    bottom: 4px;
}
#bg {
    width: 100%;
    height: 791px;
    display: block;
}
@keyframes moveStart {
    from {
        left: 0;
    }to {
        left: 104px;
         }
}
#time {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    top: 80px;
}
#min1 {
    margin-left: 100px;
}
#back {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
#exp,#exp0 {
    position: absolute;
    left: 0;
    /*bottom: 300px;*/
    transform: rotate(180deg);
}
#exp {
    height: 62px;
    transition: all .3s linear;
    overflow: hidden;
}
#exp img,#exp0 img {
    transform: rotate(180deg);
}
#energy {
    position: absolute;
    left: 0;
}
@keyframes dragonOpacity {
    0% {
        opacity: 1;
    }
    16.5% {
        opacity: 0.3;
    }
    33% {
        opacity: 1;
    }
    49.5% {
        opacity: 0.3;
    }
    66% {
        opacity: 1;
    }
    82.5% {
        opacity: 0.3
    }
    100% {
        opacity: 1;
    }

}
